@font-face {
	font-family: 'Mona';
	src: url('/fonts/Mona/Mona-Sans-Black.woff2');
	font-weight: 900;
}
@font-face {
	font-family: 'Mona';
	src: url('/fonts/Mona/Mona-Sans-ExtraBold.woff2');
	font-weight: 800;
}
@font-face {
	font-family: 'Mona';
	src: url('/fonts/Mona/Mona-Sans-Bold.woff2');
	font-weight: 700;
}
@font-face {
	font-family: 'Mona';
	src: url('/fonts/Mona/Mona-Sans-SemiBold.woff2');
	font-weight: 600;
}
// @font-face {
//   font-family: "Mona";
//   src: url("/fonts/Mona/Mona-Medium.ttf");
//   font-weight: 500;
// }
// @font-face {
//   font-family: "Mona";
//   src: url("/fonts/Mona/Mona-Regular.ttf");
//   font-weight: 400;
// }
