@font-face {
	font-family: 'Mona';
	src: url('/fonts/Mona/Mona-Sans-BlackWide.woff2');
	font-weight: 900;
}
// @font-face {
//   font-family: "Mona";
//   src: url("/fonts/Mona/Mona-Bold.ttf") ;
//   font-weight: Bold;
// }
// @font-face {
//   font-family: "Mona";
//   src: url("/fonts/Mona/Mona-ExtraLight.ttf") ;
//   font-weight: Extra Light;
// }
// @font-face {
//   font-family: "Mona";
//   src: url("/fonts/Mona/Mona-Light.ttf") ;
//   font-weight: Light;
// }
// @font-face {
//   font-family: "Mona";
//   src: url("/fonts/Mona/Mona-SemiBold.ttf");
//   font-weight: 600;
// }
// @font-face {
//   font-family: "Mona";
//   src: url("/fonts/Mona/Mona-Medium.ttf");
//   font-weight: 500;
// }
// @font-face {
//   font-family: "Mona";
//   src: url("/fonts/Mona/Mona-Regular.ttf");
//   font-weight: 400;
// }
