// @font-face {
//   font-family: "Poppins";
//   src: url("/fonts/Poppins/Poppins-Black.ttf") ;
//   font-weight: Black;
// }
// @font-face {
//   font-family: "Poppins";
//   src: url("/fonts/Poppins/Poppins-Bold.ttf") ;
//   font-weight: Bold;
// }
// @font-face {
//   font-family: "Poppins";
//   src: url("/fonts/Poppins/Poppins-ExtraLight.ttf") ;
//   font-weight: Extra Light;
// }
// @font-face {
//   font-family: "Poppins";
//   src: url("/fonts/Poppins/Poppins-Light.ttf") ;
//   font-weight: Light;
// }
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: Medium;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: Normal;
}
