@font-face {
  font-family: "Unbounded";
  src: url("/fonts/unbounded/WOFF/Unbounded-Black.woff2") format("woff2");
  font-weight: Black;
}
// @font-face {
//   font-family: "Unbounded";
//   src: url("/fonts/unbounded/WOFF/Unbounded-Bold.woff2") format("woff2");
//   font-weight: Bold;
// }
// @font-face {
//   font-family: "Unbounded";
//   src: url("/fonts/unbounded/WOFF/Unbounded-ExtraLight.woff2") format("woff2");
//   font-weight: Extra Light;
// }
// @font-face {
//   font-family: "Unbounded";
//   src: url("/fonts/unbounded/WOFF/Unbounded-Light.woff2") format("woff2");
//   font-weight: Light;
// }
// @font-face {
//   font-family: "Unbounded";
//   src: url("/fonts/unbounded/WOFF/Unbounded-Medium.woff2") format("woff2");
//   font-weight: Medium;
// }
// @font-face {
//   font-family: "Unbounded";
//   src: url("/fonts/unbounded/WOFF/Unbounded-Regular.woff2") format("woff2");
//   font-weight: Normal;
// }
